// DROPDOWN //
header .dropdown-menu > li > a { line-height:30px; }
header .dropdown-menu > li > a:hover { background:@btn-background; color:@text-color; }
header .dropdown:hover span.glyphicon { color:#fff; }
//
header button.dropdown span.glyphicon { color:@header-color; font-size: 20px; line-height:35px; margin-right:5px; }
header button.dropdown span.caret { border-top-color:@header-color; margin-bottom:10px; }


// CARET //
.caret { margin-left: 5px; margin-top:5px; border-top-color:@caret-color; transform:rotate(0deg); -ms-transform:rotate(0deg); /* IE 9 */ -webkit-transform:rotate(0deg); /* Safari and Chrome */}
a:hover .caret { margin-top:5px; border-top-color:@caret-color;transform:rotate(0deg); -ms-transform:rotate(0deg); /* IE 9 */ -webkit-transform:rotate(0deg); /* Safari and Chrome */}
// 
header .dropdown .caret { margin-top:26px; margin-left:5px; transform:rotate(-90deg); -ms-transform:rotate(-90deg); /* IE 9 */-webkit-transform:rotate(-90deg); /* Safari and Chrome */ .transition;}
header .dropdown:hover .caret { transform:rotate(0deg); -ms-transform:rotate(0deg); /* IE 9 */ -webkit-transform:rotate(0deg); /* Safari and Chrome */}
//
aside .nav .caret {border-top-color:@caret-color;}
aside .nav a:hover .caret {border-top-color:@text-color; border-bottom-color:@text-color;}
//
.caret-form {float:right; margin-top:-10px !important;}
.caret-tache {margin-top:-20px !important;}
.collapsed > .caret {transform:rotate(-90deg);-ms-transform:rotate(-90deg); /* IE 9 */-webkit-transform:rotate(-90deg); .transition;}


