// GENERAL //
.form-control {background:#fff; border:1px solid #eee; box-shadow:none; color:#ccc; font-weight:300;}
.form-group {margin-bottom:0;}
label {font-size:13px; font-weight:400; }
:focus, input:focus, textarea:focus, {box-shadow:none; border:none; outline:none;}
.radio label, .checkbox label {line-height:25px;}
input { cursor:pointer; }

//////////////////////////////////

// CHECKBOX //

// .checked {display:inline-block; width:15px; height:15px; padding:0 0 0 4px; .border; background:#fafafa; cursor:pointer; margin-right:10px;}
// .checked input[type=checkbox] { width:6px; min-height:10px; border:3px solid @color-style; opacity:0; border-top:none; border-left:none; outline:none; background:none; margin:0; 
//         transform: rotate(45deg); -ms-transform: rotate(45deg); /* IE 9 */ -webkit-transform: rotate(45deg); /* Safari and Chrome */ ;
//          -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;  }
// .checked input[type=checkbox]:checked {  opacity:1;  }
// .checked input[type=checkbox]:hover {  opacity:.3;  }


// RADIO //
input[type=radio] { width:15px; height:15px; background-color:#fafafa; border-radius:15px; border:3px double #fafafa; .transition; margin-top:3px;
        -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;  }
input[type=radio]:hover {background-color:@color-style; opacity:.4; border:3px double #fafafa; }
input[type=radio]:checked { background-color:@color-style; opacity:1; border:3px double #fafafa; }

.input-group-addon input[type="radio"] { margin-top:3px; }

//
.radio-checked { display:inline-block; width:15px; height:15px;.border; padding:0; margin-right:10px; background:#fafafa; 
         -webkit-border-radius:15px; -moz-border-radius:15px; border-radius:15px; }
.radio2 input[type=radio] { width:9px; height:9px; -webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; margin-top:0; margin-bottom:3px; margin-left:2px; outline:none;
        -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;  }
.radio2 input[type=radio]:hover {background:@color-style; opacity:.4; }
.radio2 input[type=radio]:checked { background:@color-style; opacity:1; }


// SELECT //
select.form-control { position:relative; margin:0; background:transparent; border:1px solid #eee; -webkit-appearance: none; -moz-appearance: none; }
.select { height:34px; overflow:hidden; background:url('../assets/im/select.png') right no-repeat; background-color:#fff; border-radius:none; }


// CHECKBOX //
input[type=checkbox] { .glyphicon; .glyphicon-ok; color:#fafafa; font-size:13px; .transition; .border; background:#fafafa; width:15px; min-height:15px; margin-top:0; outline:none; margin-top:3px;
        -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; }
input[type=checkbox]:hover {color:@color-style; opacity:.4; outline:none; }
input[type=checkbox]:checked { color:@color-style; opacity:1; outline:none; }

// .checked { display:block; width: 13px; min-height: 9px; border: 3px solid @color-style; border-top:none; border-left:none; .transition; outline:none; background:none; 
//         transform: rotate(45deg); -ms-transform: rotate(45deg); /* IE 9 */ -webkit-transform: rotate(45deg); /* Safari and Chrome */ }

// .checkbox {margin:0; vertical-align:bottom;}
// input[type=checkbox] { -webkit-appearance: none; -moz-appearance: none; position:relative; display:block; min-height:15px; width:15px; background-color:#fff; .border; margin:0; padding:3px; }
// .checkbox label {vertical-align:top;}

// input[type="checkbox"]:checked,
// input[type="checkbox"]:not(:checked),
// input[type="radio"]:checked,
// input[type="radio"]:not(:checked) {-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;}


// .checkbox { display:block; cursor: pointer; position: relative; width: 15px; min-height:15px; padding:0; min-height: top: 0; .border; background:#fafafa; margin:4px 0 0 0; }
// .checkbox label {margin-left:20px; margin-top:0; display:block; width:150px; line-height:13px; }
// input.checkbox {background:transparent; border:none;}
// input.checkbox:focus {box-shadow:none; border:none;}

// .checkbox label:after { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; content: ''; position: absolute; width: 9px; height: 6px;
//     background: transparent; top: 3px; left: 2px; border: 3px solid @color-style; border-top: none; border-right: none;
//     -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); .transition; }

// .checkbox:hover label::after { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; filter: alpha(opacity=30); opacity: 0.3}
// .checkbox input[type=checkbox]:checked + label:after { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; .transition;  }


