// GENERAL //
.form-control {background:#fff; border:1px solid #eee; box-shadow:none; color:#ccc; font-weight:300;}
.form-group {margin-bottom:0;}
label {font-size:13px; font-weight:400; }
:focus, input:focus, textarea:focus, {box-shadow:none; border:none; outline:none;}
.radio label, .checkbox label {line-height:25px;}
input { cursor:pointer; }

//////////////////////////////////

// RADIO //
input[type=radio] { 
	width:12px; height:12px; background:#fafafa; border-radius:12px; border:1px solid @border-color; .transition; margin:6px 0 0;
    -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;  
	&:hover {background-color:@color-style; opacity:.4; }
	&:checked { background-color:@color-style; opacity:1; border:1px double @border-color; }
}
.input-group-addon input[type="radio"] { margin-top:3px; }


// SELECT //
// SELECT //
select {
	overflow: hidden; text-indent:0.01px; text-overflow:'';
 	-webkit-appearance: none;appearance:none; -moz-appearance:none; /* Firefox */-webkit-appearance:none; /* Safari and Chrome */
}
.arrow-down { 
	position:absolute; top:40px; right:25px; display: inline-block; width: 0; height: 0; margin-left: 2px; vertical-align: middle; border-top: 4px solid #aeaeae; 
	border-right: 4px solid transparent; border-left: 4px solid transparent; border-bottom: 0 dotted; content: "";
}


// CHECKBOX //
input[type=checkbox] { 
	.glyphicon; .glyphicon-ok; color:#fafafa; font-size:13px; .transition; border:1px solid @border-color; background:#fafafa; width:15px; min-height:15px; margin-top:0; outline:none; margin-top:3px;
    -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; 
	&:hover {color:@color-style; opacity:.4; outline:none; }
	&:checked { color:@color-style; opacity:1; outline:none; }
}

// INPUT-GROUP-ADDON
.input-group-addon { background-color:#fafafa; border: 1px solid @border-color; color:#ccc; }

