@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import "../assets/bootstrap-3.0.3/less/bootstrap.less";

@import "../assets/less/colors.less";
@import "../assets/less/header.less";
@import "../assets/less/footer.less";
@import "../assets/less/content.less";
@import "../assets/less/button.less";
@import "../assets/less/type.less";
@import "../assets/less/list.less";
@import "../assets/less/collapse.less";
@import "../assets/less/progress-bars.less";
@import "../assets/less/forms.less";
@import "../assets/less/modal.less";

// Typography
// -------------------------
@font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif;

// Iconography
// -------------------------
@icon-font-path:          "assets/bootstrap-3.0.3/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";