// STYLES //
.text-shadow { text-shadow: 1px 1px 0 darken(@btn-background, 10%); }
.transition {-webkit-transition: all .1s linear; -moz-transition: all .1s linear; -ms-transition: all .1s linear; -o-transition: all .1s linear; transition: all .1s linear; }

// TITLE //
h1,.h1 { font-size: 18px; color:@h1-color; text-transform: uppercase; }
h2,.h2 { font-size: 12px; font-weight: bold; color:@h2-color; text-transform: uppercase; }
h3,.h3 { font-size: 14px; color:@h3-color; }
h4,.h4 { font-size: 14px; color:@h3-color; }
h5,.h5 { font-size: 14px; color:@h3-color; }
h6,.h6 { font-size: 14px; color:@h3-color; }

// TEXT //
p { color:@text-color; font-weight:300;}
.uppercase {text-transform:uppercase;}
small {font-weight:300; text-decoration:underline; line-height:16px;}

// GLYPHICONS
.glyphicon-pencil {color:@caret-color;}
.glyphicon-pencil:hover {color:#626262;}

// LINK //
a { color:@link-default-color; text-decoration:none; outline:none;
	&:hover, &:focus { text-decoration:none; outline:none; } 
}

// TABLE //
tr.total {background-color:@table-total-bg;}
tr.total-paye {background-color:@table-total-paye-bg;}

// IMPORTANT //
.important { display:inline-block; height:22px; width:4px; margin-top: -4px; margin-right:35px; }
.important-none { .important; background:@important-color; .border; }
.important-active {  .important; background:@color-style; }

















